* {
    box-sizing: border-box;
}

.header {
    height: 40px;
    background: rgb(48, 47, 44);
    position: relative;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}


.options {
    list-style: none;
    display: flex;
    right: 17%;
    position: absolute;
    bottom: -6px;
    padding: 5px;
    font-size: 1.2rem;
    margin: 0;
}

.options li{
    margin-left: 35px;
    cursor: pointer;
    color: white;
    padding: 6px;
    box-sizing: border-box;
    
}

.options li:hover,
.options li a:hover {
    color: white;
    background: rgb(70, 70, 70);
}

.options li a {
    text-decoration: none;
    color: white;
}

.head_line {
    position: absolute;
    top: 4px;
    padding: 5px;
    left: 17%;
    font-size: 1.2rem;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
}
#sidebar {
    display: none;
    cursor: pointer;
}



.no_touched {
display: none;
}



@media(max-width : 58rem) {
    
    .options {
        display: none;
    }
    .head_line {
        left: 10%;
        right: auto;
        font-size: 18px;
        top: 15%;
    }

    #sidebar {
        display: block;
        position: absolute;
        width: auto;
        height: auto;
        right: 8%;
    }
    #sidebar img {
        width: 65%;
        margin-top: 15%;
    }
   
}
