* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

#arrow_up {
    & img {
        width: 100%;
        height: 100%;
    }
}

.arrow_show {
    width: 55px;
    height: 55px;
    background: transparent;
    position: fixed;
    bottom: 50px;
    right: -100px;
    cursor: pointer;
    animation-name: arrow_show_animation;
    animation-delay: 0.5s;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

.arrow_hide {
    width: 55px;
    height: 55px;
    background: transparent;
    position: fixed;
    bottom: 50px;
    right: 20px;
    cursor: pointer;
    animation-name: arrow_hide_animation;
    animation-delay: 0.5s;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

.footer {
    display: flex;
    align-items: center;
    color: white;
    width: 100%;
    height: 45px;
    background: rgb(48, 47, 44);
    position: relative;
    justify-content: center;

    & .buttons {
        list-style: none;
        display: flex;
        cursor: pointer;
        margin: 0;

        &:hover li {
            opacity: 0.2;
            filter: blur(5px);
        }

        & li {
            padding: 12px;
            padding-left: 8px;
            padding-right: 8px; 
            transition: 0.5s;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgb(70, 70, 70);
                transition: 0.5s;
                transform-origin: right;
                transform: scaleX(0);
                z-index: -1;
            }
            &:hover
            {
                color: white;
                background: rgb(70, 70, 70); 
                opacity: 1;
                filter: blur(0);

                &::before {
                    transition: transform 0.5s;
                    transform-origin: left;
                    transform: scaleX(1);
                }
            } 


            & a {
            color: white;
            text-decoration: none;  
            }
            &:hover {
                background: rgb(70, 70, 70); 
            }
            
            & img {
                margin-right: 10px;
            }
        } 
        #email {
            margin: 0px;
            margin-left: 45px;
        }
    } 
}

@media(max-width : 58rem) {

    .arrow_show,
    .arrow_hide {
        bottom: 80px;
        width: 40px;
        height: 40px;
    }
    
        .footer {
            height: 75px;

            & .buttons {
            flex-direction: column;
            margin: 0;
            margin-top: 6px;

                & li {
                    padding-top: 5px;
                    padding-right: 3px;
                    padding-bottom: 5px;
                }
                & #name {
                    align-self: center;
                }
                & #email {
                    margin: 0;
                    align-self: center;
                }
            }
        }  
}

@keyframes arrow_show_animation {
    from {right: -100px;}
    to {right: 20px;}
  }

  @keyframes arrow_hide_animation {
    from {right: 20px;}
    to {right: -100px;}
  }