<div class="container">
    <h4>About myself</h4>
    <ul>
        <div id="wrap_li1">
            <li id="li1">I studied software engineering between 2016-2019.</li>
        <span>|</span>
        </div>
        <li>Final Project: Live sharing app from entertainment places. </li>
        <li>Owner of an outstanding engineering diploma.</li>
        <li>Self-Learning: Angular 8 framework.</li>
        <div id="wrap_li2">
            <li (click)="openResume()" id="li2">Open the resume.</li>
            <span>|</span>
        </div>
    </ul>
</div>