* {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-family: 'Lemonada', cursive;
}


.container {
    background: rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1rem;


    & h4 {
        text-decoration: underline;
        margin: 0;
        width: fit-content;
        margin-left: auto;
        margin-right: auto; 
       font-size: 20px;

        &:hover {
           color: #6085b7
        }
    }

    & ul {
        list-style: none;
        margin: 0;
        
        & #wrap_li1 {
            text-align: center;
            display: flex;
            justify-content: center;
                & #li1 {
                    animation: typing 8s steps(49, start) infinite;  
                    white-space: nowrap;
                    overflow: hidden;
                    
            }
                & span {
                    border-right: 2px solid rgba(255, 255, 255, 0.75);
                    color: transparent;
                    animation: blinkTextCorsur 500ms steps(40) infinite normal;
                }
        }
        & #wrap_li2 {
            & #li2 {
                text-decoration: underline;
                cursor: pointer;
                &:hover {
                    color: skyblue;
                }
            }
            & span {
                display: none;
            }
        }
    }

    & ul li {
        text-align: center;
        margin-bottom: 3px;
        font-size: 13.5px;

        & span {
            text-decoration: underline;
            &:hover  {
                color: skyblue;
                cursor: pointer;
            }
        }
        &:hover {
            color: #6085b7
        }
    }
}
@media(max-width : 495px) {
    
    .container {
        & ul {
            & #wrap_li1 {
                flex-wrap: wrap;
               & #li1 {
                animation: none;
                white-space: normal; 
                overflow: unset;
                }
                & span {
                    display: none;
                }
            }
            & #wrap_li2 {
                text-align: center;
                display: flex;
                justify-content: center;
                & #li2 {
                    animation: typing 3s steps(16, start) infinite;
                    /*blinkTextCorsur 500ms steps(40) infinite normal;*/
                    white-space: nowrap;
                    overflow: hidden;
                }
                & span {
                    display: inline;
                    border-right: 2px solid rgba(255, 255, 255, 0.75);
                    color: transparent;
                    animation: blinkTextCorsur 500ms steps(40) infinite normal;
                }
            }    
        }
    }   
}


@keyframes typing {
    
    0% {
        width: 0px;
    }
    60% {
        width: 396px;
    }
    100% {width: 396px;}
    
  }

  @media(max-width : 495px) {
    @keyframes typing {
    
        0% {
            width: 0px;
        }
        60% {
            width: 138px;
        }
        100% {width: 138px;}   
      }
}

  @keyframes blinkTextCorsur {
      from {
        border-right-color: rgba(255, 255, 255, 0.75);
      }
      to {
        border-right-color: transparent;
      }
  }


