<div class="container">
    <h4>About myself</h4>
    <ul>
        <li>I studied software engineering from 2016-2019.</li>
        <li>During this time I acquired information in many subjects in the field and did a wide range of projects.</li>
        <li>Because of the first year grades, after this year, I received a certificate of appreciation.</li>
        <li>In the final project, I chose to develop an app for the Android devices that deals with sharing live reports from places of entertainment.</li>
        <li>After graduation, I received an outstanding engineering diploma.</li>
        <li>Then, I chose to focus on the web application area with self-learning and did some projects in this field.</li>
        <li>To open the resume, <span (click)="openResume()">click here</span>.</li>
    </ul>
</div>