* {
    font-family: 'Poppins', sans-serif;
    color: white;
    box-sizing: border-box;
}

.container {
    background: rgba(0, 0, 0, 0.2);
    padding: 30px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;

        & .box {
            margin-left: 0;
            margin-right: 0;

            & p {
            text-align: center;
            margin: 0;
            }
            & .images_container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

                & .comment:hover > .img_container {
                    animation: increase_size 0.5s 0s 1;
                 }

                & .img_container {
                    background: transparent;
                    margin: 10px 10px;

                    & img {
                        width: 100%;
                        height: 100%;
                    }
            }
        
        }
    }
}

#languages, #workspaces, #databases {
    opacity: 0;
}
.animation_offset {
    animation-name: show_by_offset;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}




@media(max-width : 58rem){
    .container {
        padding: 12px;
    }
}


@keyframes increase_size {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
        
    }
    100% {
        transform: scale(1);
    }   
}

@keyframes show_by_offset {
    0% { 
        opacity: 0;
        transform: rotateZ(15deg);   
     }
    100% { 
        opacity: 1;
        transform: rotateZ(0deg);  
     }
}



