<div class="container" id="about">
    <div class="box">
    <p>In my studies,</p>
            <p> I learned a wide variety of programming languages listed below:</p>
    <div class="images_container">
        <div class="comment">
          
            <div class="img_container" id="java" title="Java">
                <img src="../../assets/images/java_logo.png" alt="">
            </div> 
        </div>
        <div class="comment">
            
            <div class="img_container" title="C">
                <img src="../../assets/images/c_logo.png" alt="">
            </div> 
        </div>
        <div class="comment">
           
            <div class="img_container" title="C#">

                <img src="../../assets/images/c_sharp_logo.png" alt="">
            </div> 
        </div>
        <div class="comment">
            <div class="img_container aaa" title="C++">
                <img src="../../assets/images/cpp_logo.png" alt="">
            </div> 
        </div>
        <div class="comment">
            <div class="img_container" title=".NET">
                <img src="../../assets/images/net_logo.png" alt="">
            </div> 
        </div>
        <div class="comment">
            <div class="img_container" title="Assembly">
                <img src="../../assets/images/assembly_logo.png" alt="">
            </div> 
        </div>
        <div class="comment">
            <div class="img_container" title="HTML">
                <img src="../../assets/images/html_logo.png" alt="">
            </div> 
        </div>
        <div class="comment">
            <div class="img_container" title="CSS">
                <img src="../../assets/images/css_logo.png" alt="">
            </div> 
        </div>
        <div class="comment">
            <div class="img_container" title="JavaScript">
                <img src="../../assets/images/js_logo.png" alt="">
            </div> 
        </div>
        <div class="comment">
            <div class="img_container" title="TypeScript">
                <img src="../../assets/images/ts_logo.png" alt="">
            </div> 
        </div>
        <div class="comment">
            <div class="img_container" title="php">
                <img src="../../assets/images/php_logo.png" alt="">
            </div> 
        </div>
        <div class="comment"> 
            <div class="img_container" title="Visual Basic">
                <img src="../../assets/images/vb_logo.png" alt="">
            </div> 
        </div>
        <div class="comment">
            <div class="img_container" title="SQL">
                <img src="../../assets/images/sql_logo.png" alt="">
            </div> 
        </div>
    </div>
    
    <p>The programming languages I learned were implemented by the workspaces listed below:</p>
    <div class="images_container">
        <div class="comment">
            <div class="img_container" title="Android Studio">
                <img src="../../assets/images/android_studio_logo.png" alt="">
            </div> 
        </div>
        <div class="comment">
            <div class="img_container" title="Eclipse">
                <img src="../../assets/images/eclipse_logo.png" alt="">
            </div> 
        </div>
        <div class="comment">
            <div class="img_container" title="Visual Studio">
                <img src="../../assets/images/visual_studio_logo.png" alt="">
            </div> 
        </div>
        <div class="comment">
            <div class="img_container" title="Visual Studio Code">
                <img src="../../assets/images/visual_studio_code_logo.png" alt="">
            </div> 
        </div>
        <div class="comment">
            <div class="img_container" title="Access">
                <img src="../../assets/images/access_logo.png" alt="">
            </div> 
        </div>
        <div class="comment">
            <div class="img_container" title="Xampp">
                <img src="../../assets/images/xampp_logo.png" alt="">
            </div> 
        </div>
  </div>
  
  <p>As part of my studies and in the final project, I had to work with databases listed below:</p>
  <div class="images_container">
        <div class="comment">
            <div class="img_container" title="Firebase">
                <img src="../../assets/images/firebase_logo.png" alt="">
            </div> 
        </div>
        <div class="comment">
            <div class="img_container" title="MySQL">
                <img src="../../assets/images/mysqli_logo.png" alt="">
            </div> 
        </div>
  </div>
  </div>
        
</div>
