* {
    font-family: 'Poppins', sans-serif;
    color: white;
    box-sizing: border-box;
}

.container {
    background: rgba(0, 0, 0, 0.2);
    padding: 30px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
}
.box {
    margin-left: 0;
    margin-right: 0;
}

.images_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
p {
    text-align: center;
    margin: 0;
}

.img_container {
    
    background: transparent;
    margin: 10px 10px;
    
}


img {
    width: 100%;
    height: 100%;
   
}

.comment:hover > .tooltiptext {
    animation: show_comment 0.5s 0s 1 forwards;
 }

 .comment:hover > .img_container {
    animation: increase_size 0.5s 0s 1;
 }
 
 .img_container span {
    display:none;
 }
 .img_container:hover span {
    
    position:fixed;
    overflow:hidden;
}


@keyframes show_comment {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}


@media(max-width : 58rem){
    .container {
        padding: 12px;
    }
}





@keyframes increase_size {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
        
    }
    100% {
        transform: scale(1);
    }
    
}



