<div class="container" id="about">
    <p>I studied software engineering from 2016-2019.
            In my studies, I learned a wide variety of programming languages.</p>
    <p>The languages are listed below:</p>
    <div class="images_container">
        <div class="comment">
           <span class="tooltiptext">Java</span>
            <div class="img_container">
                <img src="../../assets/images/java_logo.png" alt="">
            </div> 
        </div>
        
        
        <div class="comment">
            <span class="tooltiptext">C</span>
            <div class="img_container">
                <img src="../../assets/images/c_logo.png" alt="">
            </div> 
        </div>
        <div class="comment">
            <span class="tooltiptext">C#</span>
            <div class="img_container">
                <img src="../../assets/images/c_sharp_logo.png" alt="">
            </div> 
        </div>
        <div class="comment">
            <span class="tooltiptext">C++</span>
            <div class="img_container">
                <img src="../../assets/images/cpp_logo.png" alt="">
            </div> 
        </div>
        <div class="comment">
            <span class="tooltiptext">.NET</span>
            <div class="img_container">
                <img src="../../assets/images/net_logo.png" alt="">
            </div> 
        </div>
        <div class="comment">
            <span class="tooltiptext">Assembly</span>
            <div class="img_container">
                <img src="../../assets/images/assembly_logo.png" alt="">
            </div> 
        </div>
        <div class="comment">
            <span class="tooltiptext">HTML</span>
            <div class="img_container">
                <img src="../../assets/images/html_logo.png" alt="">
            </div> 
        </div>
        <div class="comment">
            <span class="tooltiptext">CSS</span>
            <div class="img_container">
                <img src="../../assets/images/css_logo.png" alt="">
            </div> 
        </div>
        <div class="comment">
            <span class="tooltiptext">Javascript</span>
            <div class="img_container">
                <img src="../../assets/images/js_logo.png" alt="">
            </div> 
        </div>
        <div class="comment">
            <span class="tooltiptext">Typescript</span>
            <div class="img_container">
                <img src="../../assets/images/ts_logo.png" alt="">
            </div> 
        </div>
        <div class="comment">
            <span class="tooltiptext">PHP</span>
            <div class="img_container">
                <img src="../../assets/images/php_logo.png" alt="">
            </div> 
        </div>
        <div class="comment">
            <span class="tooltiptext">Visual Basic</span>
            <div class="img_container">
                <img src="../../assets/images/vb_logo.png" alt="">
            </div> 
        </div>
        <div class="comment">
            <span class="tooltiptext">SQL</span>
            <div class="img_container">
                <img src="../../assets/images/sql_logo.png" alt="">
            </div> 
        </div>
    </div>
    <p>The programming languages I learned were implemented by the framworks listed below:</p>
    <div class="images_container">
        <div class="comment">
            <span class="tooltiptext">Android Studio</span>
            <div class="img_container">
                <img src="../../assets/images/android_studio_logo.png" alt="">
            </div> 
        </div>
        <div class="comment">
            <span class="tooltiptext">Eclipse</span>
            <div class="img_container">
                <img src="../../assets/images/eclipse_logo.png" alt="">
            </div> 
        </div>
        <div class="comment">
            <span class="tooltiptext">Visual Studio</span>
            <div class="img_container">
                <img src="../../assets/images/visual_studio_logo.png" alt="">
            </div> 
        </div>
        <div class="comment">
            <span class="tooltiptext">Visual Studio Code</span>
            <div class="img_container">
                <img src="../../assets/images/visual_studio_code_logo.png" alt="">
            </div> 
        </div>
        <div class="comment">
            <span class="tooltiptext">Access</span>
            <div class="img_container">
                <img src="../../assets/images/access_logo.png" alt="">
            </div> 
        </div>
        <div class="comment">
            <span class="tooltiptext">Xampp</span>
            <div class="img_container">
                <img src="../../assets/images/xampp_logo.png" alt="">
            </div> 
        </div>
  </div>
  <p>As part of my studies and in the final project, I had to work with databases listed below:</p>
  <div class="images_container">
        <div class="comment">
            <span class="tooltiptext">Firebase</span>
            <div class="img_container">
                <img src="../../assets/images/firebase_logo.png" alt="">
            </div> 
        </div>
        <div class="comment">
            <span class="tooltiptext">Mysqli</span>
            <div class="img_container">
                <img src="../../assets/images/mysqli_logo.png" alt="">
            </div> 
        </div>
  </div>
        
</div>
