* {
    font-family: 'Poppins', sans-serif;
    color: white;
    box-sizing: border-box;
}

.container {
    background: rgba(0, 0, 0, 0.2);
    padding: 30px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
}
.box {
    margin-left: 0;
    margin-right: 0;
}

.images_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
p {
    text-align: center;
    margin: 0;
}

.img_container {
    
    background: transparent;
    margin: 10px 10px;
    width: auto;
    height: auto;
}


img {
    width: 100%;
    height: 100%;
   
}

.tooltiptext {
    color: white;
    padding: 5px;
    background: #333;
    margin-bottom: 15px;
    position: absolute;
    z-index: 1;
    position: absolute;
    opacity: 0;
}

.bottom {
    top: 60px;
    right: 2%;
}

.top {
    top: 60px;
    right: 12%;
}

.short {
    top: 60px;
    right: 25%;
}
.c {
    top: 60px;
    right: 35%;
}
.long {
    top: 60px;
    right: -8px;
}
.right {
    top: 60px;
    right: 19%;
}
.vb {
    top: 60px;
    right: 4%;
}

.css {
    top: 60px;
    right: 16%;
}


.comment {
    text-align: center;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    position: relative;
}



.comment:hover > .tooltiptext {
    animation: show_comment 0.5s 0s 1 forwards;
 }

 .comment:hover > .img_container {
    animation: increase_size 0.5s 0s 1;
 }
 
 


@keyframes show_comment {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}


@media(max-width : 58rem){
    .container {
        padding: 12px;
    }
}





@keyframes increase_size {
    0% {
        width: 48px;
        height: 48px;
    }
    50% {
        width: 60px;
        height: 60px;
        margin: 0;
        margin-left: 4.5px;
        margin-right: 4.5px;
        
    }
    100% {
        width: 48px;
        height: 48px;
    }
    
}



