* {
    font-family: 'Poppins', sans-serif;
}

h4 {
    /*text-align: center;*/
    color: white;
    text-decoration: underline;
    margin: 0;
    padding-top: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
h4:hover {
    color: beige;
}

.cards {
    display: flex;
    padding: 20px;
    justify-content: center;
    text-align: center;
    height: 462px;
}

.card {
    width: 30%;
    cursor: pointer;
   /* background-image: linear-gradient(rgba(64, 159, 255, 0.85), rgba(179,255,255,0.85));*/
    position: relative;
    overflow: hidden;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.card:hover {
    animation: image_increase 0.5s 0s 1;
}

.card h2 {
    margin: 0;
    color: white;
    margin: 0;
   margin-top: 10px;
}

.card img {
   /* height: 60%;*/
    width: 80%;
    margin-top: 5%;
}


/*
#Safun {
    margin-top: 7.5%;
}*/

.card p {
    padding: 15px;
    margin: 0; 
    color: white;
}

#stamp {
    position: absolute;
    background: gray;
    right: -30px;
    top: 25px;
    padding: 2px;
    width: 150px;
    text-align: center;
    transform: rotateZ(45deg);
    font-family: 'Courgette', cursive;
    color: white;
}

@media(max-width : 58rem) {
    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
    }
    .card {
        margin: auto;
        margin-bottom: 20px;
        width: 90%;
        height: auto;
    }

    .card img {
        height: 150px;
        width: auto;
        margin: auto; 
        margin-top: 15px; 
        display: block;
    }

    .card h2 {
        margin-left: 0;
        
    }

    .border1, .border0 {
        background-image: url("../../assets/images/background.jpg");
        height: 10px;
        width: 100%;
    }

    h4 {
        margin-bottom: 15px;
    }

    

   /* .border:last-of-type
    {
        background-image: none;
        height: 0;
        width: 0;
    }*/
    
}


@keyframes image_increase {
    0% {
        
    }
    50% {
        margin-top: 0;
    }
   
    100% {
       
        
    }
    
}