* {
    font-family: 'Poppins', sans-serif;
}

.background1 {
    background-image: url("../../assets/images/foreground.png");
    animation-name: moving;
    animation-duration: 650s;
    animation-delay: 0;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

h4 {
    /*text-align: center;*/
    color: white;
    text-decoration: underline;
    margin: 0;
    padding-top: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
h4:hover {
    color: beige;
}

.cards {
    display: flex;
    padding: 0px;
    justify-content: center;
    text-align: center;
    height: 462px;

    & .card {
        width: 25%;
        position: relative;
        overflow: hidden;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-top: 10px;

       

        & img {
            width: 80%;
            margin-top: 5%;
            &:hover {
                animation: increase_img 0.5s 0s 1;
            }
        }
        & h2 {
            margin: 0;
            color: white;
            margin: 0;
            margin-top: 10px;
            font-size: 22px; 
        }
        & .options {
            margin-top: 7px;

            & button {
                background: rgb(96, 133, 183);
                color: #fff;
                border: 2px solid rgb(96, 133, 183);
                margin-right: 4px;
                margin-bottom: 4px;
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: 1px;
                border-radius: 2px;
                transition: 0.5s;
                padding: 8px 15px;
                cursor: pointer;

                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: rgb(150, 174, 207);
                    transition: transform 0.5s;
                    transform-origin: top;
                    transform: scaleX(0);
                    z-index: -1;
                }
                &:hover
                {
                    background: rgb(150, 174, 207);
                    opacity: 1;
                    filter: blur(0);
    
                    &::before {
                        transition: transform 0.5s;
                        transform-origin: bottom;
                        transform: scaleX(1);
                    }
                }
            }
        }

        & p{
          padding: 15px;
          margin: 0; 
          color: white;  
        }
    }
}

@keyframes increase_img {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
        
    }
    100% {
        transform: scale(1);
    }   
}

@keyframes moving {
    0% {background-position: 0% 0%;}
   
    100% {background-position: 13000% -600000%;}
}

@media(max-width : 58rem) {

    h4 {
        margin-bottom: 15px;
    }

    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;

        & .card {
            margin: auto;
            margin-bottom: 20px;
            width: 90%;
            height: auto;

            & h2 {
               margin-left: 0; 
            }

            & img {
            height: 150px;
            width: auto;
            margin: auto; 
            margin-top: 15px; 
            display: block;
            }
        }

        & .border1, .border0, .border2 {
            background-image: url("../../assets/images/background.jpg");
            height: 10px;
            width: 100%;
        }
    }
    @keyframes moving {
        0% {background-position: 0% 0%;}
       
        100% {background-position: 13000% 6000%;}
    }
   
}
