.container {
    
    background: rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    color: white;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
   

    &_contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 550px;

        &-title {
            margin: 10px;
        }
        &-paragraph {
            text-align: center;
            padding: 10px 10px;
            margin: 0;
        }

        &-input  {
            height: 20px;
            width: 30%;
            padding: 6px 6px;
            font-family: "Acme",'Suez One', sans-serif;
        }
        &-span {
            margin-top: 15px;
            margin-bottom: 5px;
        }
        &-email {
            display: flex;
            width: 30%;
            

            &-sign_mail {
                background: white;
                color: black;
                height: 25px;
                padding: 6px 6px;  
            }

            &-input {
                height: 25px;
                padding: 6px 6px;
                width: 50%;
                border: none;
                font-family: "Acme",'Suez One', sans-serif;
            }
        }
        &-textarea {
            width: 30%;
            font-family: "Acme",'Suez One', sans-serif;
        }
        &-submit {
            width: 30%;
            margin-top: 12px;
            background-color: cornflowerblue;
            height: 40px;
        }
    }
}

  .main {
      margin-top: 10px;
      

     /* & .button {
        position: relative;
        display: block;
        width: 200px;
        height: 36px;
        border-radius: 18px;
        background-color: #1c89ff;
        border: solid 1px transparent;
        color: #fff;
        font-size: 18px;
        font-weight: 300;
        cursor: pointer;
        transition: all .1s ease-in-out;
        &:hover {
          background-color: transparent;
          border-color: #fff;
          transition: all .1s ease-in-out;
        }
      }*/

      & .button {
        position: relative;
        border: 1px white solid;
        width: 200px;
        height: 35px;
        text-align: center;
        color: #fff;
        font-size: 18px;
        box-sizing: border-box;
        background: linear-gradient(90deg, #1c89ff, #f441a5, #ee7700, #1c89ff);
        background-size: 400%;
        border-radius: 30px;
        z-index: 1;

        &:hover {
          animation:animate 8s linear infinite;

          &:before {
            filter: blur(20px);
            animation:animate 8s linear infinite;
            opacity: 1;
          }
        }
        &:before {
          content: '';
          position: absolute;
          top: -5px;
          left: -5px;
          right: -5px;
          bottom: -5px;
          z-index: -1;
          background: linear-gradient(90deg, #1c89ff, #f441a5, #ee7700, #1c89ff);
          background-size: 400%;
          border-radius: 40px;
          filter: blur(20px);
          opacity: 0;
          transition: 0.5s;
        }
      }

      & .loader {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background: transparent; 
        margin: 10px auto 0 auto;
        border: solid 2px #424242;
        border-top: solid 2px #1c89ff;
        border-radius: 50%;
        opacity: 0;
      }
  }

  .check {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate3d(-4px,50px,0);
    opacity: 0;

    span:nth-child(1) {
      display: block;
      width: 10px;
      height: 2px;
      background-color: #fff;
      transform: rotate(45deg);
    }

    span:nth-child(2) {
      display: block;
      width: 20px;
      height: 2px;
      background-color: #fff;
      transform: rotate(-45deg) translate3d(14px, -4px, 0);
      transform-origin: 100%;
    }
  }
  
  .loader.active {
    animation: loading 2s ease-in-out; 
    animation-fill-mode: forwards;
  }
  
  .check.active {
    opacity: 1;
    transform: translate3d(-4px,4px,0);
    transition: all .5s cubic-bezier(.49, 1.74, .38, 1.74);
    transition-delay: .2s;
  }

  #text_contact {
    opacity: 0;
  }
  .animation_offset {
    animation-name: show_by_offset;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }

 

  @keyframes loading {
    30% {
      opacity:1; 
    }
    
    85% {
      opacity:1;
      transform: rotate(1080deg);
      border-color: #262626;
    }
    100% {
      opacity:1;
      transform: rotate(1080deg);
       border-color: #1c89ff;
    }
  }

  @keyframes show_by_offset {
    0% { 
        opacity: 0;
        transform: rotateZ(15deg);   
     }
    100% { 
        opacity: 1;
        transform: rotateZ(0deg);  
     }
}

@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

  @media(max-width : 58rem) {
    .container {
        height: 555px;
    }
    .container_contact-email,
  .container_contact-input,
  .container_contact-textarea{
      width: 60%;
      font-size: 22px;
  }
  .container_contact-email-input {
    font-size: 22px;
  }
}

@media(max-width : 45rem) {
    .container {
        height: 575px;
    }
    .container_contact-email,
    .container_contact-input,
    .container_contact-textarea{
      width: 90%;
      font-size: 16px;
  }
    .container_contact-email-input {
    font-size: 16px;
  }
}

@media(max-width : 28rem) {
  .container {
      height: 580px;
  }
}

