.container {
    overflow: hidden;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.img_container {
    
    display: flex;
    animation: move_container 50s 0s infinite;
}

.image_app {
    height: 450px;
    margin-left: 115px;
}

.description {
    padding: 15px;
    width: 80%;
    margin: auto;
    margin-bottom: 15px;
    color: white;
}



h2 {
    text-align: center;
    margin: 0;
    color: white;
    margin-bottom: 10px;
    margin-top: 20px;
}


.logo_div {
    
    margin: auto;
    height: 200px;
    margin-bottom: 7px;
    justify-content: center;
    align-items: center;
}

.logo_div img {
    height: 100%;
}

.img_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 450px;
}

.image_appp { 
    height: 100%;
    position: relative;
}

#forward {
    order: 1;
    cursor: pointer;
}
#back {
    cursor: pointer;
}



@media(max-width : 58rem) {

    .img_container {
        animation: move_container_phone_g 100s 0s infinite;
        left: calc(50% - 150px);
        position: relative;
    }
    .image_app {
        height: 250px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 50px;
        box-sizing: border-box;
    } 
    .image_app {
        height: 350px;
        margin-left: 70px;
    }
    
}


@keyframes backpic {
    0% {
        left: 0;
    }
    50% {
        left: -1000px;
    }
    51% {
        left: 1000px;
    }
    
    100% {
        left: 0;
        background-image: url("../../assets/images/gamefill_9.jpg");
    }
}
@keyframes nextpic {
    to {
        background-image: url("../../assets/images/gamefill_2.jpg");
    }
}


@keyframes move_container {

    0% {
        position: relative;
        left: 0;
    }
    45% {
        left: calc(100% - 3100px);
    }
    50% {
        left: calc(100% - 3100px);
    }
    100% {
        position: relative;
        left: 0;
    }
}


@keyframes move_container_phone_g {

    
    5% {
        left: calc(50% - 150px); 
    }
    10% {
        left: calc(50% - 390px); 
    }
    15% {
        left: calc(50% - 630px);
    }
    20% {
        left: calc(50% - 870px);
    }
    25% {
        left: calc(50% - 1110px);  
    }
    30% {
        left: calc(50% - 1350px);   
    }
    35% {
        left: calc(50% - 1590px);  
    }
    40% {
        left: calc(50% - 1830px);  
    }
    45% {
        left: calc(50% - 2070px);  
    }
    50% {
        left: calc(50% - 2070px);   
    }
    55% {
        left: calc(50% - 1830px);  
    }
    60% {
        left: calc(50% - 1590px); 
    }
    65% {
        left: calc(50% - 1350px);  
    }
    70% {
        left: calc(50% - 1110px);  
    }
    75% {
        left: calc(50% - 870px);
    }
    80% {
        left: calc(50% - 636px);
    }
    85% {
        left: calc(50% - 390px);
    }
    90% {
        left: calc(50% - 150px); 
    }
    100% {
        position: relative;
        left: calc(50% - 150px);  
    }
}