<div class="container">
    <p class="description">Below you will find pictures from an Android app I created that aims to save results from console games that show up in different stasistics.
         There is a tournament winnings table, a temporary tournament table and an all time table. In addition, 
         you can see all the results of the games played. 
         You can delve further and see head-to-head results between 2 players
          (how many wins, draws, losses, credit and mandatory goals have on each side), plus see specific player results.
           The data is saved in Firebase.</p>
        <div class="img_container">
            <img src="../../assets/images/gamefill_1.jpg" alt="" class="image_app">
            <img src="../../assets/images/gamefill_2.jpg" alt="" class="image_app">
            <img src="../../assets/images/gamefill_3.jpg" alt="" class="image_app">
            <img src="../../assets/images/gamefill_4.jpg" alt="" class="image_app">
            <img src="../../assets/images/gamefill_5.jpg" alt="" class="image_app">
            <img src="../../assets/images/gamefill_6.jpg" alt="" class="image_app">
            <img src="../../assets/images/gamefill_7.jpg" alt="" class="image_app">
            <img src="../../assets/images/gamefill_8.jpg" alt="" class="image_app">
            <img src="../../assets/images/gamefill_9.jpg" alt="" class="image_app">
        </div>  
    </div>
    
    