.container {
    overflow: hidden;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-items: center;
    justify-content: center;

    & .logo_div {
    
        margin: auto;
        height: 200px;
        margin-bottom: 7px;
        justify-content: center;
        align-items: center;

        & img {
            height: 100%;
        }
    }
    & h2 {
        text-align: center;
        
        color: white;
        margin-bottom: 10px;
        margin-top: 20px;
        font-family: 'Bad Script', cursive;
        font-size: 45px;
        margin: 0;
    }
    & .description {
        padding: 15px;
        width: 80%;
        margin: auto;
        margin-bottom: 15px;
        color: white;
        font-family: "Lemonada", cursive;
        font-size: 14px;

        & span {
            text-decoration: underline;

            &:hover {
                color: skyblue;
                cursor: pointer;
            }
        }
    }
    & .images_cont {
        display: flex;
        justify-content: center;
        align-items: center;
    
        & .img_cont {
        
            overflow: hidden;
            height: 450px;

            & img {
                height: 100%;
                position: relative;
            }
        }
    }
    & #forward {
        order: 1;
        cursor: pointer;
        animation-name: slide_1;
        animation-duration: 2s;
        animation-delay: 0;
        animation-iteration-count: infinite;
    }
    & #back {
        cursor: pointer;
        animation-name: slide_2;
        animation-duration: 2s;
        animation-delay: 0;
        animation-iteration-count: infinite;
    }

    .moving_forward {
        animation-name: moveforward;
        animation-duration: 2s;
    }

    @keyframes moveforward {
        0%{ left: 0px; }
        50%{ left: 250px; opacity: 0;}
        51% { left: -250px; }
        100% { left: 0px; opacity: 1;}
    }

    .moving_back {
        animation-name: moveback;
        animation-duration: 2s;
    }

    @keyframes moveback {
        0%{ left: 0px; }
        50%{ left: -250px; opacity: 0; }
        51% { left: 250px; }
        100% { left: 0px; opacity: 1; }
    }
    @keyframes slide_1 {
       0% { transform: translate(0); }
       50% { transform: translate(40px); }
       100% { transform: translate(0px); }
    }
    @keyframes slide_2 {
        0% { transform: translate(0); }
        50% { transform: translate(-40px); }
        100% { transform: translate(0px); }
     }

}
.upload {
    display: none;
}
@media(max-width : 600px) {
    #img_cont {
        height: 350px;
    }
}
