<div class="container">
    <div class="logo_div">
        <img src="../../assets/images/soccer_icon1.png" alt="">
    </div>
    <h2>Gamefill</h2>

    <p class="description">Below you will find pictures from an Android app I created that aims to save results from console games that show up in different stasistics.
         There is a tournament winnings table, a temporary tournament table and an all time table. In addition, 
         you can see all the results of the games played. 
         You can delve further and see head-to-head results between 2 players
          (how many wins, draws, losses, credit and mandatory goals have on each side), plus see specific player results.
           The data is saved in Firebase.</p>
        

    <div class="images_cont">
        <img src="../../assets/images/arrow_back.png" alt="" id="back" (click)="goBack()"> 
        <div class="img_cont" id="img_cont">  
            <img src="../../assets/images/gamefill_1.jpg" alt="" class="image_appp" id="image">
        </div>
        <img src="../../assets/images/arrow_forward.png" alt="" id="forward" (click)="goForward()">
    </div>
</div> 
<div class="upload">
    <img src="../../assets/images/gamefill_2.jpg" alt="">
    <img src="../../assets/images/gamefill_3.jpg" alt="">
    <img src="../../assets/images/gamefill_4.jpg" alt="">
    <img src="../../assets/images/gamefill_5.jpg" alt="">
    <img src="../../assets/images/gamefill_6.jpg" alt="">
    <img src="../../assets/images/gamefill_7.jpg" alt="">
    <img src="../../assets/images/gamefill_8.jpg" alt="">
    <img src="../../assets/images/gamefill_9.jpg" alt="">
</div>        
    
    
    