.img {
    background-image: url("https://physicsworld.com/wp-content/uploads/2019/09/binary-and-light-web-181051741-iStock_loops7.jpg");
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 82%;
    border: 3px dashed rgba(117,234,191,0.8);
    background-origin: border-box;
    box-sizing: border-box;
    opacity: 0.7;
}

@media(max-width : 400px) {
    .img {
        background-position: 40% 0%;
    }
}