.background {
    /*background-image: url("http://www.ox.ac.uk/sites/files/oxford/styles/ow_medium_feature/public/field/field_image_main/shutterstock_1008152344.jpg?itok=RATwPyun");
*/
background: rgba(0, 0, 0, 0.2);
}

.home {
    padding-right: 15%;
    padding-left: 15%;
}

@media(max-width : 58rem) {
    .home {
        padding-right: 2%;
        padding-left: 2%;
    }
}
    
