.container {
    
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    
}
.img_container {
    display: flex;
    animation: move_container_phone 90s 0s infinite forwards;
    position: relative;
        left: calc(50% - 150px); 
}

.image_app {
    height: 350px;
        margin-left: 70px;
}



.arrow {
    cursor: pointer;
}


.description {
    padding: 15px;
    width: 80%;
    margin: auto;
    margin-bottom: 15px;
    color: white;
}



h2 {
    text-align: center;
    margin: 0;
    color: white;
    margin-bottom: 10px;
    margin-top: 20px;
}


.logo_div {
    
    margin: auto;
    height: 200px;
    margin-bottom: 7px;
    justify-content: center;
    align-items: center;
}

.logo_div img {
    height: 100%;
   
}

.img_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 450px;
}

.image_appp { 
    height: 100%;
}


#forward {
    order: 1;
    cursor: pointer;
}
#back {
    cursor: pointer;
}

p span:hover {
    text-decoration: underline;
    color: skyblue;
    cursor: pointer;
}


@media(max-width : 58rem) {
    .img_container {
        animation: move_container_phone 120s 0s infinite forwards;
        position: relative;
        left: calc(50% - 150px);  
    } 
}



@keyframes move_container {

    0% {
        position: relative;
        left: 0px;
    }
    45% {
        left: calc(100% - 5000px);
    }
    50% {
        left: calc(100% - 5000px);
    }
    100% {
        position: relative;
        left: 0;
    }
}

@keyframes move_container_phone {

    
    0% {
        left: calc(50% - 150px); 
    }
    3.5% {
        left: calc(50% - 390px); 
    }
    7% {
        left: calc(50% - 630px);
    }
    10.5% {
        left: calc(50% - 870px);
    }
    14% {
        left: calc(50% - 1110px);  
    }
    17.5% {
        left: calc(50% - 1350px);   
    }
    21% {
        left: calc(50% - 1590px);  
    }
    24.5% {
        left: calc(50% - 1830px);  
    }
    28% {
        left: calc(50% - 2070px);  
    }
    31.5% {
        left: calc(50% - 2310px);  
    }
    35% {
        left: calc(50% - 2550px);  
    }
    38.5% {
        left: calc(50% - 2790px);  
    }
    42% {
        left: calc(50% - 3030px);  
    }
    45.5% {
        left: calc(50% - 3270px);  
    }
    49% {
        left: calc(50% - 3510px); 
    }
    
    50% {
        left: calc(50% - 3510px);  
    }
    53.5% {
        left: calc(50% - 3270px);  
    }
    57% {
        left: calc(50% - 3030px);    
    }
    60.5% {
        left: calc(50% - 2790px);  
    }
    64% {
        left: calc(50% - 2550px); 
    }
    67.5% {
        left: calc(50% - 2310px);  
    }
    71% {
        left: calc(50% - 2070px); 
    }
    74.5% {
        left: calc(50% - 1830px); 
    }
    78% {
        left: calc(50% - 1590px);  
    }
    81.5% {
        left: calc(50% - 1350px);  
    }
    85% {
        left: calc(50% - 1110px);
    }
    88.5% {
        left: calc(50% - 870px);
    }
    92% {
        left: calc(50% - 630px);
    }
    95.5% {
        left: calc(50% - 390px); 
    }
    99% {
        left: calc(50% - 150px); 
    }
    100% {
        position: relative;
        left: calc(50% - 150px);  
    }
}