<div class="container">
    <div class="logo_div">
        <img src="../../assets/images/safun_icon1.png" alt="">
    </div>
    <h2>Safun</h2>
    <p class="description">Below you will find pictures from the Android app that I did in the final project as part of a software engineering study.
        The idea of the app is to help people choose where to go to spend time. For example: If there is a crowd of people in a particular place, the people who are there will report it on the app.
        Then, anyone who enters the place information within the app will be able to see the report and decide if he still want to reach the place.
        In addition, you can report on other issues such as parking, prices, music, photo upload option and more.
        For more information, you can <span (click)="onOpenProjextBook()">click here</span> to browse the project book.</p>

    <div class="images_cont">
        <img src="../../assets/images/arrow_back.png" alt="" id="back" (click)="goBack()"> 
        <div class="img_cont">  
            <img src="../../assets/images/safun_1.jpg" alt="" class="image_appp" id="image">
        </div>
        <img src="../../assets/images/arrow_forward.png" alt="" id="forward" (click)="goForward()">
    </div>
  
</div>

<div class="upload">
    <img src="../../assets/images/safun_2.jpg" alt="">
    <img src="../../assets/images/safun_3.jpg" alt="">
    <img src="../../assets/images/safun_4.jpg" alt="">
    <img src="../../assets/images/safun_5.jpg" alt="">
    <img src="../../assets/images/safun_6.jpg" alt="">
    <img src="../../assets/images/safun_7.jpg" alt="">
    <img src="../../assets/images/safun_8.jpg" alt="">
    <img src="../../assets/images/safun_9.jpg" alt="">
    <img src="../../assets/images/safun_10.jpg" alt="">
    <img src="../../assets/images/safun_11.jpg" alt="">
    <img src="../../assets/images/safun_12.jpg" alt="">
    <img src="../../assets/images/safun_13.jpg" alt="">
    <img src="../../assets/images/safun_14.jpg" alt="">
    <img src="../../assets/images/safun_15.jpg" alt="">
</div>



